.container {
    max-resolution: 900px;
    background: #fff;
    font-size: 24px;
    padding-bottom: 25px;
    border: none;
    border: transparent;
    margin: 0px;
    font-family: Calibri;
}
body {
    margin: 0px;
}

header {
    box-sizing: border-box;
    font-family: Calibri;
    background: none !important;
}

ul {
    font-family: Calibri;
}


.parallax{
    min-height: 500px;
    width: 100%;
    margin: 0px;
    background: transparent;
    border: transparent;
}
